/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
/* Global Values */
.centered {
    text-align: center;
}
.desc {
	padding-top: 50px;
}

.desc p {
	color: #2f2f2f;
}

.desc t {
	color: #34495e;
	font-weight: 700;
}

.desc imp {
	padding: 6px;
	color: white;
	background: #34495e;
}

.desc more {
	color: #95a5a6;
}


sm {
	font-size: 12px;
}



/****************************
*                           *
*     NAVIGATION            *
*                           *
****************************/
.navbar{
    margin-bottom: 0px;
}


/****************************
*                           *
*     CAROUSEL STYLES       *
*                           *
****************************/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height:500px;
      margin:0 auto;
  }

/****************************
*                           *
*     ABOUT ME              *
*                           *
****************************/
/* Intnro Wrap */
#intro {
	background: #2c3e50;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
} 

#intro h5, p {
	color: white;
}
#intro p{
    padding-top: 70px;
    font-size: 14px;
}
#intro i {
	color: white;
	font-size: 20px;
	padding-right: 8px;
	vertical-align: middle;
}
#skillswrap {
	background: #2c3e50;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#skillswrap h5, p {
	color: white;
}



/****************************
*                           *
*     Contact Area          *
*                           *
****************************/


.contact-area{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-area p{
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

.footer-area h3{
    color: #fff;
    padding-top: 15px;
}